<div class="evg-cards">
	<div class="evg-cards-inner">
		<div class="evg-card">
			<div class="evg-card-label" data-lfr-editable-id="card-1-label" data-lfr-editable-type="text">
				No. 01
			</div>

			<div class="evg-card-title" data-lfr-editable-id="card-1-title" data-lfr-editable-type="text">
				First Card
			</div>

			<div class="evg-card-text" data-lfr-editable-id="card-1-text" data-lfr-editable-type="text">
				A short description of the first card.
			</div>
		</div>

		<div class="evg-card">
			<div class="evg-card-label" data-lfr-editable-id="card-2-label" data-lfr-editable-type="text">
				No. 02
			</div>

			<div class="evg-card-title" data-lfr-editable-id="card-2-title" data-lfr-editable-type="text">
				Second Card
			</div>

			<div class="evg-card-text" data-lfr-editable-id="card-2-text" data-lfr-editable-type="text">
				A short description of the second card.
			</div>
		</div>

		<div class="evg-card">
			<div class="evg-card-label" data-lfr-editable-id="card-3-label" data-lfr-editable-type="text">
				No. 03
			</div>

			<div class="evg-card-title" data-lfr-editable-id="card-3-title" data-lfr-editable-type="text">
				Third Card
			</div>

			<div class="evg-card-text" data-lfr-editable-id="card-3-text" data-lfr-editable-type="text">
				A short description of the third card.
			</div>
		</div>
	</div>
</div>