<div class="evg-stats">
	<div class="evg-stats-inner">
		<div class="evg-stat">
			<div class="evg-stat-value" data-lfr-editable-id="stat-1-value" data-lfr-editable-type="text">
				37
			</div>

			<div class="evg-stat-label" data-lfr-editable-id="stat-1-label" data-lfr-editable-type="text">
				Years on the Trail
			</div>
		</div>

		<div class="evg-stat">
			<div class="evg-stat-value" data-lfr-editable-id="stat-2-value" data-lfr-editable-type="text">
				2,400
			</div>

			<div class="evg-stat-label" data-lfr-editable-id="stat-2-label" data-lfr-editable-type="text">
				Products Field Tested
			</div>
		</div>

		<div class="evg-stat">
			<div class="evg-stat-value" data-lfr-editable-id="stat-3-value" data-lfr-editable-type="text">
				3
			</div>

			<div class="evg-stat-label" data-lfr-editable-id="stat-3-label" data-lfr-editable-type="text">
				Stores in the Northwest
			</div>
		</div>
	</div>
</div>